source env/bin/activate
export APP_SETTINGS="config.DevelopmentConfig"
# export DATABASE_URL="postgresql://localhost:5433/wordcount_dev"
export DATABASE_URL="postgres://sid:sid12345@localhost:5433/wordcount_dev"
unset PS1
